@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --color-primary: #6F49DD;
        --color-secondry: #7289DA;
        --color-text-muted: #615F5F;
        --color-text-light: #ffffff;
        --color-button-accen: #0088CC;
        --color-button-muted: #7289DA;
        --color-dark: #000000;
        --color-bg-footer: #2B195A;
      }
}
@font-face {
  font-family: "ProductSansBold";
  src: url("../public/fonts/Product\ Sans\ Bold.woff2");
}
@font-face {
  font-family: "ProductSansReqular";
  src: url("../public/fonts/Product\ Sans\ Regular.woff2");
}
@font-face {
  font-family: "InterBold";
  src: url("../public/fonts/Inter-Bold.woff2");
}
@font-face {
  font-family: "InterExtraBold"; 
  src: url("../public/fonts/Inter-ExtraBold.woff2");
}
@font-face {
  font-family: "InterRegular";
  src: url("../public/fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: "InterMedium";
  src: url("../public/fonts/Inter-Medium.woff2");
}
@font-face {
  font-family: "InterLight";
  src: url("../public/fonts/Inter-Light.woff2"); 
}
@font-face {
  font-family: "GildaDisplay";
  src: url("../public/fonts/GildaDisplay-Regular.woff2");
}